<h1 class = "label label-primary ordernum" style="display:inline-block; font-size: 30px">Admin Dashboard</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Number of products:</th>
      <th scope="col">Number of categories:</th>
    </tr>
  </thead>
      <tbody>
    <tr>
      <td><%= link_to @products,  [:admin, :products] %></td>
      <td><%= link_to @categories,  [:admin, :products] %></td>
    </tr>
  </tbody>
</table>
    

