<section class="categories-show">

  <header class="page-header">
  <h1 class = "ordernum jungle">Jungle</h1>
    <h2 class = "about-us">
     Welcome to the Jungle! We sell the latest and greatest unusual products. This is the best place to shop for the person who has everything!
    </h2>
    <h2 class = "about-us">
    Check out our <%= link_to 'amazing line of products', :root %>
    </h2>
  </header>

</section>
