// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.admin-title {
  display:inline-block; 
  font-size: 30px;
  background-color: rgb(151, 194, 221);
}

.jungle{
  color: #e25b01;
}

